.container{
    display: flex;
    align-items: center;
}
.contain{
    width: 20rem;
    margin-left: 1rem;
}
.main{
    /* border: 1px #ff0000 solid; */
    padding: 4rem;
}
.tablebox{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
span {
    display: inline-block;
    transition: 0.1s ease-in;
  }
  
  span:hover{
    transform: translateX(50%);
  }
  .main {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 